<!DOCTYPE html>
<html lang="en">
    <head>
        
        <!-- Required meta tags -->
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <script src="../dhtmlx-scheduler/codebase/dhtmlxscheduler.js" ></script>
        <link rel="stylesheet" href="../dhtmlx-scheduler/codebase/dhtmlxscheduler.css">
        <script src="../Utilities/CalendarScripts.js"></script>
        <link rel="stylesheet" href="../Styles/CalendarStyle.css"  type="text/css">
        <link rel="stylesheet" href="../Styles/DefaultStyle.css"  type="text/css">

        <title>UCO CS Advisement</title>
    </head>
    <body onload="init('day');">
        <nav class="nav">
            <ul class="nav nav-tabs">
                <li class ="nav-item active">
                <a class="nav-link" href="/">Home Page</a>
                </li>
                <% if(!user) { %>
                    <li class ="nav-item">
                    <a class="nav-link" href="/SignIn">Sign In</a>
                    </li>
                    <li class ="nav-item">
                    <a class="nav-link" href="/SignUp">Sign Up</a>
                    </li>
                <% } else if (user.verified == '0') { %>
                    <li class ="nav-item">
                    <a class="nav-link" href="/verifyCode">Verify Account</a>
                    </li>
                <% } %>
                <li class ="nav-item">
                    <a class="nav-link" href="/calendar">View Calendar</a>
                </li>
            </ul>
        </nav>
        <% if (user) { %>
            <div style='position:absolute; right: 8px; top:8px; color:white'>
                <label>Welcome, <%= user.firstName %> <%= user.lastName %></label>
                <br>
                <a href="/logout" style="float: right;color:#e5b509">Log Out</a>
            </div>
        <% } %>
        <div style="color:white">
            <h1><b>Welcome to the UCO CS Advisement Scheduling Page</h1></b>
        </div>
        <br>    

        <input type="hidden" id="eventData" value="<%= JSON.stringify(data) %>">
        <% if(user){ %>
            <input type="hidden" id="isFaculty" value="<%= user.isFaculty %>">
            <input type="hidden" id="isFacultyVerified" value="<%= user.facultyVerified %>"> 
        <% } else {%>
            <input type="hidden" id="isFaculty" value="-1">
            <input type="hidden" id="isFacultyVerified" value="-1"> 
        <% } %>

        <div id="scheduler_here" class="dhx_cal_container" style='width:55%; height:80%;'>
            <div class="dhx_cal_navline">
                <div class="dhx_cal_prev_button">&nbsp;</div>
                <div class="dhx_cal_next_button">&nbsp;</div>
                <div class="dhx_cal_today_button"></div>
                <div class="dhx_cal_date"></div>
                <div class="dhx_cal_tab" name="day_tab"></div>
                <div class="dhx_cal_tab" name="week_tab"></div>
                <div class="dhx_cal_tab" name="month_tab"></div>
            </div>
            <div class="dhx_cal_header">
            </div>
            <div class="dhx_cal_data">
            </div>
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body> 
</html>