<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../Styles/DefaultStyle.css"  type="text/css">

        <title>Sign Up</title>
    </head>
    <body onload="onSelect()">
        <nav class="nav">
            <ul class="nav nav-tabs">
                <li class ="nav-item">
                    <a class="nav-link" href="/">Home Page</a>
                </li>
                <li class ="nav-item active">
                    <a class="nav-link" href="/editProfile">Edit Profile</a>
                </li>
                <li class ="nav-item">
                    <a class="nav-link" href="/calendar">View Calendar</a>
                </li>
                <% if (user && user.isFaculty && user.facultyVerified) { %>
                    <li class ="nav-item">
                        <a class="nav-link" href="/addAppointments">Add Appointments</a>
                    </li>
                    <li class ="nav-item">
                        <a class="nav-link" href="/viewUsers">View Users</a>
                    </li>
                <% } %>
            </ul>
        </nav>

        <!-- If logged in user, display the user menu in the right hand corner -->
        <% if (user) { %>
            <% include ./partials/profileMenu %>
        <% } %>

        <div style="color:white">
            <h1><b>&nbsp;Update Account</h1></b>
        </div>
        <br>
        <div class="container float-left">
            <div class="row">
                <div class="jumobotron container float-left">
                    <div class="display-5" style="background-color:#1a1a1a">
                        <form name="editProfile" method="POST" action="/editProfile" enctype="multipart/form-data" onsubmit="return validateForm()">
                            <div class="form-group row">
                                <input type="hidden" id="_id" name="_id" value="<%= user._id %>">
                                <input type="hidden" id="image_path" name="image_path" value="<%= user.profilePic %>">
                                <input type="hidden" id="accountType" name="accountType" value="<%= user.isFaculty %>">
                            </div>
                            <div class="form-group row">
                                <label for="firstName" class="col-sm-2 col-form-label" style="color: white;text-align:right">First Name</label>
                                <div class="col-sm-8">
                                    <input type="text" name="firstName" id="firstName" class="form-control" value='<%= user.firstName %>'>
                                </div>
                            </div>
                            <div class="form-group row">
                                    <label for="lastName" class="col-sm-2 col-form-label" style="color: white;text-align:right">Last Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="lastName" id="lastName" class="form-control" value='<%= user.lastName %>'>
                                    </div>
                                </div>
                            <div class="form-group row">
                                <label for="email" class="col-sm-2 col-form-label" style="color: white;text-align:right">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" name="email" id="email" class="form-control" value='<%= user.email %>'>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-sm-2 col-form-label" style="color: white;text-align:right">Password</label>
                                <div class="col-sm-8">
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>
                            </div>
                            <% if(user.isFaculty) { %>
                                <div class="form-group row" id:"facultyIDRow">
                                    <label id="lbl_facultyID" for="facultyID" class="col-sm-2 col-form-label" style="Color:white;text-align:right">Faculty ID</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="facultyID" id="facultyID" class="form-control" value='<%= user.facultyID %>'>
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="form-group row" id:"studentIDRow">
                                    <label id="lbl_studentID" for="studentID" class="col-sm-2 col-form-label" style="color:white;text-align:right">Student ID</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="studentID" id="studentID" class="form-control" value='<%= user.studentID %>'>
                                    </div>
                                </div>
                                <div class="form-group row" id:"studentMajorCodeRow">
                                    <label id="lbl_majorCode" for="majorCode" class="col-sm-2 col-form-label" style="color:white;text-align:right">Major</label>
                                    <div class="col-sm-8">
                                        <select id="majorCode" name="majorCode" class="form-control" > 
                                            <option value ="-1" <% if(user.majorcode != undefined && user.majorCode.length < 4) { %> selected <% } %> >-- Choose --</option>
                                            <option value="6100" <% if(user.majorCode == "6100") { %> selected <% } %> >B.S. in Computer Scinece (6100)</option>
                                            <option value="6101" <% if(user.majorCode == "6101") { %> selected <% } %> >B.S. in Computer Science - Applied (6101)</option>
                                            <option value="6102" <% if(user.majorCode == "6102") { %> selected <% } %> >B.S. in Computer Science - Information Science (6102)</option>
                                            <option value="6110" <% if(user.majorCode == "6110") { %> selected <% } %> >B.S. in Software Engineering (6110)</option>
                                            <option value="6660" <% if(user.majorCode == "6660") { %> selected <% } %> >M.S. in Applied Mathematics and Computer Science (6660)</option>
                                        </select>
                                    </div>
                                </div>
                            <% } %>
                            <div class="form-group row">
                                <label for="profileImage" class="col-sm-2 col-form-label" style="color:white;text-align:right">Profile Pic <br>
                                    <% if(user.profilePic != null){ %>
                                        <img src='<%= user.profilePic.replace("/public","") %>' width=80 height=80>
                                    <% } %>
                                </label>
                                <div class="col-sm-8">
                                <input type="file" name="profileImage" class="form-control" id="profileImage"></div>                                
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-offset-5 col-sm-10 text-center">
                                    <input class="btn btn-success" type='submit' value='Save Changes'>
                                </div>  
                            </div>
                            <div class="form-group row"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
         <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            
            function validateForm(){
                let firstName = document.getElementById("firstName")
                let lastName = document.getElementById("lastName")

                let password = document.getElementById("password")
                let accountType = document.getElementById("accountType")

                let facultyID = document.getElementById("facultyID")
                let studentID = document.getElementById("studentID")
                let studentMajorCode = document.getElementById("majorCode")

                let error = false;
                let errorString = "Please resolve these errors before continuing:\n"

                if (firstName.length == 0  || isNumeric(firstName)){
                    error = true
                    errorString = errorString + "\n\t" + "First name must contain at least 1 letter"
                }
                if (lastName.length == 0 || isNumeric(lastName)){
                    error = true
                    errorString = errorString + "\n\t" + "Last name must contain at least 1 letter"
                }
                if (password.value.length !=0 && (password.value.length < 6 || password.value.length > 32)){
                    error = true
                    errorString = errorString + "\n\t" + "Password must contain 6-32 characters only"
                }
                if (accountType.value == false){ //Student account
                    if (!isNumeric(studentID.value)){
                        error = true
                        errorString = errorString + "\n\t" + "Student ID must contain numeric digits only"
                    }
                    if (studentMajorCode.value == "-1"){
                        error = true
                        errorString = errorString + "\n\t" + "Please select a major"
                    }
                }else if (accountType.value == true){ //Faculty account
                    if (facultyID.value == "null"){
                        error = true
                        errorString = errorString + "\n\t" + "Please enter your faculty ID number"
                    }
                }

                if (error){
                    alert(errorString)
                    return false
                }
                return true
            }
            function isNumeric(n) {
                return !isNaN(parseFloat(n)) && isFinite(n);
            }
        </script>

    </body> 
</html>